{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>About us</h1>
                <h2 class="mt-5" style="text-align: justify; font-size: 36px; color: #2C3E50; font-weight: bold;">Welcome to Tutor Sphere</h2>
<p style="text-align: left; font-size: 18px; color: #34495E; line-height: 1.8; max-width: 600px; margin: 0 auto;">
    Tutor Sphere is your premier online tutoring platform designed to connect students with qualified, experienced tutors for personalized learning. Our mission is to provide seamless, engaging, and effective education through innovative features and collaborative tools.
    
    Whether you need assistance with academic subjects, test preparation, or skill development, Tutor Sphere offers a comprehensive platform with real-time messaging, flexible scheduling, and progress tracking to ensure a rewarding learning experience.
    
    Join us on this journey towards academic success and discover the power of personalized education.
    
    Thank you for choosing Tutor Sphere!
</p>

            </div>
        </div>
    </div>
{% endblock content %}
